<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
</configSections>
<connectionStrings>
    <add name="Schedwin.Reporting.Telerik.Properties.Settings.SefofaneBots" connectionString="Data Source=stratus;Initial Catalog=Sefofane_Bots;Persist Security Info=True;User Id=WILDERNESS\ro.SchedwinGlobal;Password=Password01;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="Schedwin.Reports.Properties.Settings.SefofaneBots" connectionString="Data Source=eagle;Initial Catalog=Sefofane_Bots;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Schedwin.Reports.Properties.Settings.SefofaneNam" connectionString="Data Source=Wildcatsql2\sql02;Initial Catalog=Sefofane_Nam;integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Schedwin.Reports.Properties.Settings.AdventureWorks" connectionString="Data Source=wildcatnode03;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Schedwin.Reports.Properties.Settings.AdventureWorks2" connectionString="Data Source=wildcatnode03;Initial Catalog=AdventureWorks;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Schedwin.Reports.Properties.Settings.SefofaneZim" connectionString="Data Source=wildcatsql2\sql02;Initial Catalog=Sefofane_Zim;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" culture="neutral" publicKeyToken="5803cfa389c90ce7"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.2.728.45"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" culture="neutral" publicKeyToken="5803cfa389c90ce7"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.2.728.45"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" culture="neutral" publicKeyToken="5803cfa389c90ce7"/>
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2015.2.728.45"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
